<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">




</head>

<body>

  {% include "exam/navbar.html" %}

  <br><br><br><br>
  <br><br><br><br><br>
  <br><br><br><br><br>
 <center> <h6>
  This project is a fully functional Online Examination System developed using the Python Django web framework. It is designed for educational institutions, allowing students to take exams online, while teachers and administrators manage courses, questions, and student records efficiently. This system is ideal for IT students in their first or second year, and it simulates a real-life examination environment with an intuitive user interface.
  </h6>
<h3>Project developed by</h3>
<h4>Ranjith Kumar C M<br>Sudarshan B N <br>Mahesh K</h4></center>
<center>
  <h4>
    Contact Us:cmranji@gmail.com
  </h4>
</center>


  {% include "exam/footer.html" %}
</body>

</html>
